*{
    font-family: "Montserrat", sans-serif;
}

.container{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 612px;
}

.leftside{
    width: 250px;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 200px solid #608abf;
    border-right: 100px solid transparent;
    border-bottom: 200px solid transparent;
}

.name{
    text-align: center;
    margin-left: -75px;
    position: absolute;
    width: 80px;
    height: 0;
    font-weight: lighter;
    z-index: 2;
}

.degree{
    text-align: center;
    width: 120px;
    height: 50px;
    margin-top: -50px;
    margin-left: 30px;
}

.contactext{
    font-size: large;
    font-weight: 700;
    padding-left: 30px;
}

.contactskill{
    font-size: large;
    font-weight: 700;
}

.contact{
    width: 230px;
    height: 30px;
    border-bottom: 1px solid #608abf;
}

.contactcontent{
    padding-left: 30px;
    padding-top: 15px;
    width: 200px;
    height: 135px;
    font-weight: lighter;
    font-size: small;
    border-bottom: 1px solid #608abf;
}

.skills{
    padding-left: 15px;
    width: 215px;
    height: 800px;
}

.titles{
    font-size: large;
    font-weight: 500;
    margin: 15px;
    border-bottom: 1px solid #608abf;
    padding-bottom: 10px;
}

.expcontent, .projectcontent, .educationcontent{
    border-left: 1px solid #608abf;
    padding-left: 15px;
}

.fa-circle{
    margin-left: -23px;
    font-size: medium;
}

.enterprise{
    font-size: small;
    font-weight: bold;
    font-style: italic;
}

.date{
    float: right;
    font-weight: normal;
    font-style: normal;
}

.jobcontent, .projectdescription, .schooldescription{
    font-size: smaller;
    font-style: italic;
}

.description{
    font-size: smaller;
    font-style: italic;
}


